@font-face {
  font-family: pixel;
  src: url(font/Pixelfont.ttf);
}

@font-face {
  font-family: hw3;
  src: url(font/Handwriting3.ttf);
}

@font-face {
  font-family: hw4;
  src: url(font/Handwriting4.ttf);
}

@font-face {
  font-family: hw5;
  src: url(font/Handwriting5.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
}

#NOOT {
  z-index: 2001;
  position: absolute;
  left: 85%;
  width: 200px;
  height: 200px;
  visibility: hidden;
}

#NootMenu {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #64878c;
  color: #fff;
  font-family: pixel;
  padding: 20px;
  top: 0;
  overflow: scroll;
}

.tableRow {
  display: flex;
  flex: 1;
  font-size: 14px;
  border-bottom: #283638 1px solid;
}

#vocabContainer {
  display: none;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#researchContainer {
  display: none;
}

.tableRow p {
  width: 50%;
  padding: 0 5px;
}

.mode:hover {
  font-size: 18px;
}

.active {
  font-size: 18px;
  color: #283638;
}

#dialogue,
#npcTalk {
  position: absolute;
  width: 80%;
  z-index: 1000;
  padding: 15px;
  bottom: 10px;
  color: whitesmoke;
  visibility: hidden;
  background-image: url("images/dialogue.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  font-size: 25px;
  padding: 0px;
}

#npcTalk {
  padding-left: 35px;
}

#npcTalk #Next {
  position: absolute;
  top: 80px;
}

#notes {
  position: absolute;
  margin: auto;
  z-index: 1000;
  padding: 15px;
  color: whitesmoke;
  visibility: hidden;
  font-size: 25px;
  padding: 0px;
  top: 0;
}

#notes img {
  max-width: 100%;
  max-height: 95%;
}

#right,
#left {
  position: relative;
  top: -50px;
  left: -20%;
}

#notes .interface,
#npcTalk .interface {
  color: #fff;
  font-family: pixel;
  position: relative;
  top: -22%;
  font-size: 30px;
}

#npcTalk,
#npcTalk .interface div,
#npcTalk .interface p {
  font-size: 20px;
  font-family: pixel;
}

#notes .interface p {
  font-family: pixel;
}

#Collect {
  left: 8%;
}

#notes p {
  position: absolute;
  left: 150px;
  top: 30px;
  font-family: hw5;
  z-index: 10000000;
}

#text {
  position: relative;
  left: 40px;
}

#optionA,
#optionB {
  display: inline;
  padding: 20px;
}

#npcText p {
  display: inline;
}

body {
  cursor: url(images/Mousearrow.png), auto;
  
}

.resultWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0;

}

.resultWrapper img {
  margin-left: 10px;
}