@font-face {
  font-family: pixel;
  src: url(font/Pixelfont.ttf);
}

@font-face {
  font-family: hw3;
  src: url(font/Handwriting3.ttf);
}

@font-face {
  font-family: hw4;
  src: url(font/Handwriting4.ttf);
}

@font-face {
  font-family: hw5;
  src: url(font/Handwriting5.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: url(images/Mousearrow.png), auto;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
}

#NOOT {
  z-index: 999;
  position: absolute;
  left: 85%;
  width: 200px;
  height: 200px;
  visibility: hidden;
}

#NootMenu {
  display: none;
  position: absolute;
  top: 0;
  z-index: 998;
  background-color: #64878c;
  font-family: pixel;
  color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.active {
  font-size: 22px;
  color: #465456;
}

#researchContainer {
  display: none;
}

#vocabContainer {
  display: none;
  flex-direction: column;
}

#vocabContainer .tableRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: #465456 2px solid;
}

#vocabContainer p {
  width: 50%;
  ;
}

.tableRow p:last-child {
  padding-left: 10px;
}

.mode:hover {
  font-size: 18px;
}

.mode {
  font-size: 20px;
}

.resultWrapper {
  display: flex;
  flex-direction: row;
  padding-right: 20px 30px 20px 20px;
}

.researchImage {
  margin: inhert;
}

#dialogue,
#npcTalk {
  position: absolute;
  width: 80%;
  z-index: 900;
  padding: 15px;
  bottom: 10px;
  color: whitesmoke;
  visibility: hidden;
  background-image: url("images/dialogue.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  font-size: 25px;
  padding: 0px;
  font-family: pixel;
}

#npcTalk {
  padding-left: 35px;
}

#npcTalk #Next {
  /* position: absolute;
  top: 80px; */
  padding-top: 20px;
}

#notes {
  position: absolute;
  margin: auto;
  z-index: 1000;
  padding: 15px;
  color: whitesmoke;
  visibility: hidden;
  font-size: 25px;
  padding: 0px;
  top: 0;
}

#notes img {
  max-width: 100%;
  max-height: 95%;
}

/* #right,
#left {
  position: relative;
  top: -50px;
  left: -20%;
} */

#npcTalk .interface {
  color: #fff;
  font-family: pixel;
  position: relative;
  top: -35%;
  font-size: 30px;
}

#npcTalk,
#npcTalk .interface div,
#npcTalk .interface p {
  font-size: 20px;
  font-family: pixel;
}

#notes .interface p {
  font-family: pixel;
}

#Collect {
  left: 8%;
}

#notes #noteText {
  position: absolute;
  left: 150px;
  top: 30px;
  font-family: hw5;
  z-index: 10000000;
}

#notes .interface p {
  display: inline;
}

#text {
  position: relative;
  left: 40px;
}

#optionA,
#optionB {
  display: inline;
  padding: 20px;
}

#npcText p {
  display: inline;
}

#form {
  font-family: pixel;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64878c;
  top: 0;
  z-index: 997;
  padding: 10px;
  color: #fff;
  overflow: auto;
}

input {
  color: #465456;
  border: none;
  width: 300px;
  height: 30px;
  margin: 5px 0;
  font-family: pixel;
}

input[type='checkbox'],
input[type='radio'] {
  width: 30px;
  height: 30px;
}

input:hover {
  cursor: url(images/Mousearrow.png), auto;
}

.inputWrapper label {
  display: inline-block;
}

form>* {
  margin: 10px 0;
}

#form button {
  margin-bottom: 100px;
  color: #fff;
  background-color: #465456;
  font-family: pixel;
  text-decoration: none;
  width: 200px;
  height: 30px;
  border: none;
  font-size: 22px;
}

form .right {
  color: #4D8B31;
}

form .wrong {
  color: #A52422;
  border: #A52422 2px solid;
}

#originList {
  width: 300px;
  height: 30px;
  font-family: pixel;
  border: none;
}

#questEle {
  display: block;
  z-index: 900;
  position: absolute;
  top: 0;
  color: white;
  font-family: pixel;
  font-size: 10px;
  padding: 10px;
}

#noteInterface {
  display: flex; 
  flex-direction: row;
  position: relative;
  top: -100px;
  left: 100px;
}
#noteInterface > * {
  padding-left: 20px;
}